@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes throb {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.08);
    opacity: 0.6;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

.animate-throb {
  animation: throb 1.8s ease-in-out infinite;
}